.wrap{
    width: 100%;
    box-sizing: border-box;    
}

.headerClass{
    background-color: #586F7C;    
    padding: 2rem;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.bodyClass{
    
    width: 100%;
    
    
}

.cardWrap{
    display: flex;
    flex-direction: row;        
}

.cardContainer{
    width: 50%;
}