.cardWrap{
    width: 100%;
    background-color: #f4f4f9;
    font-family: Arial, Helvetica, sans-serif;
    color: #22223B;
    padding: 2rem;
    
}

.coords {
    float: right;
    font-size: 0.9em;
}

.forecastWrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.mainIcon{
    height: 2rem;
    width: auto;
    float: right;
}

.forecastIcon{
    height: 2rem;
}
